@model List<ResultAllBlogsWithAuthorDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Blog Listesi Ve İşlemleri</h4>
                        <p class="card-subtitle mb-4">
                            Bloglar ile ilgili silme, güncelleme ve blog listesi erişimini görebilirsiniz. Yeni blog ekleme işlemi admin tarafından yapılmamaktadır. 
                            Eğer blog ekleme işlemi yapmak isterseniz sisteme yazar olarak giriş yapmanız gerekmektedir. Her yazar sadece kendi bloglarını 
                            düzenleyebilir. Bunun için uygulamada Login/WriterLogin sayfası üzerinden giriş yapabilirsiniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Başlık</th>
                                        <th>Yazar</th>
                                        <th>Kategori</th>
                                        <th>Tarih</th>
                                        <th>Kaldır</th>
                                        <th>Bloğu Aç</th>
                                        <th>Yorumlar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count ++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.Title</td>
                                            <td>@item.AuthorName</td>
                                            <td>@item.CategoryName</td>
                                            <td>@item.CreatedDate</td>
                                            <td><a href="/Admin/AdminBlog/RemoveBlog/@item.BlogID" class="btn btn-outline-danger">Kaldır</a></td>
                                            <td><a href="/Blog/BlogDetail/@item.BlogID" class="btn btn-outline-dark">Bloğu Aç</a></td>
                                            <td><a href="/Admin/AdminComment/Index/@item.BlogID" class="btn btn-outline-secondary">Yorumlar</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table><br />
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
